.footer-wrapper {
  background-color: rgb(70, 130, 180);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 1em 1.5em;
  font-size: 1rem;
}

.contact-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1em;
}
