.venue-section {
  padding: 1em;
  background-color: #f9f9f9;
}

.venue-section h2 {
  color: #0d47a1;
  font-size: 1.8rem;
  text-align: center;
}

.venue-section ul {
  list-style: disc;
  padding-left: 1.5rem;
  padding-top: 1em;
  line-height: 1.8;
}

.registration-section {
  padding: 1em 0.5em;
}
